.main-div{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(to right,rgba(59,130,246,.9),rgba(59,130,246,.9),rgba(59,130,246,.9),rgba(42, 99, 189, 0.7),rgba(28, 71, 141, 0.8),rgba(14, 48, 104, 0.9),rgb(10, 32, 75));
}

.header-content{
    margin: 0.7rem;
    font-size: 2.2rem;
    color: rgb(34 197 94);
    font-weight: 400;
    font-weight: bold;
}

.main-card-jokes{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10rem;
    margin-left: 3rem;
}

@media (max-width:480px) {
    .header-content{
        font-size: 1.8rem;
    }
    .main-card-jokes{
        margin-left: -10rem;
    }

}